<ul>
                
    <li><label>Job Offer :</label> {{job.name}}</li>
    <li><label> Posted On :</label> {{job.date}}</li>
    <li><label>Deadline for Apllications :</label>  {{job.date}}</li>
    <li><label> Location :  </label>{{job.location}}</li>
    <li><label>Number of posts available : </label> {{job.posts}}</li>
    <li> <label>Job Type : </label>{{job.type}}</li>
    <li> <label>Contract : </label>{{job.contract}}</li>
    <li><label>Job Description : </label><br> {{job.description}}</li>
    <li> <label> Responsabilities : </label><br>{{job.responsabilities}}</li>
    <li><label> Qualifications : </label><br>{{job.qualifications}}</li>
</ul>