<div class="d0">
    
    <h1>Grow with TeamDoo ! </h1>
    <p>
        We are specialized in providing solutions and services that integrate your organization with Odoo.<br> We help companies to grow by strengthening their processes and expanding their network, 
        with the result <br>of staying competitive through better customer service and a better understanding of the market.<br><br>

    </div>
    <div class="d4"><img ></div>
     <div class="d1">
        <h1>Who we are ! </h1>
        <p> Founded in 2015 , We are a team of enthusiasts based in Tunisia & France experienced in the field of business & IT
            <br>TeamDoo is the integrator that offers you efficient, profitable ERP & CRM solutions tailored to your needs.<br> 
            Whatever your sector of activity is , TeamDoo makes you benefit from its expertise in integration and guarantees
            <br> to offer you the turnkey solution that respect your budget.
          </p>
     </div>
     <div class="d2">
        <h1>What we do ! </h1>
        <p>
         We provide best quality ERP integration and development services.<br> We have developed full range of roadmaps for  odoo with 
            complete functionalities <br>and features according to the business requirements.</p>
       
        
     </div>
<div class="d3"><h1>Why choose us ?</h1>
    <p>Our commitment is based on delivering unique solutions for your business needs, <br>enabling it to grow in a sustainable way through knowledge, innovation and technology.</p><br></div>  <br>  
    <br><br><button routerLink="/contact_us">Get Started Now ! </button>
    
