<div *ngFor="let elt of tab">     
    <table border="1cm">
         
     
        <tr><th>Sent On : </th><td >{{elt.time}}</td></tr>
        <tr><th>Fisrt Name : </th><td >{{elt.fname}}</td></tr>
        <tr><th>Last Name : </th><td >{{elt.lname}}</td></tr>
        <tr><th>Email Adress: </th><td >{{elt.email}}</td></tr>
        <tr><th>Telephone: </th><td >{{elt.tel}}</td></tr>
        <tr><th>Object : </th><td >{{elt.objet}}</td></tr>
        <tr><th>Description : </th><td ><p>{{elt.desc}}</p></td></tr>





</table>
</div>

