<!--cards-->
<div >
    <h1>Ready to boost your company ?</h1>

<mat-card class="card1" style="background-color:#4eb39e;">
   <img mat-card-md-image src ="assets/consulting.png" >
    <mat-card-title>
        consulting 
    </mat-card-title>
    <mat-card-content>
        Our ultimate goal is to help you grow your business
    </mat-card-content>
</mat-card>
<mat-card class="card2" style="background-color: #4eb39e;">
    <img mat-card-md-image src ="assets/integrating.png" >
     <mat-card-title>
         Integration 
     </mat-card-title>
     <mat-card-content>
        Implementation of ERP and CRM solutions in your company 
     </mat-card-content>
 </mat-card>
 <mat-card class="card3" style="background-color: #4eb39e;">
    <img mat-card-md-image src ="assets/programming.png" >
     <mat-card-title>
        Developement
     </mat-card-title>
     <mat-card-content>
        Creation of specific modules customised<br> for your needs
     </mat-card-content>
 </mat-card>
 <mat-card class="card4" style="background-color: #4eb39e;">
    <img mat-card-md-image src ="assets/support.png" >
     <mat-card-title>
         Support 
     </mat-card-title>
     <mat-card-content>
Lifetilme Technical Support
     </mat-card-content>
     
 </mat-card>
 <button routerLink="/about_us"  > See more</button>
</div>

