button {
    top: 0.5cm;
    position: absolute;
    transform: scale(1.2);
    margin-left: 14cm;
}
body {
    height: 20cm;
}
h1 {
    
    position: absolute;
    margin-left: 0.5cm;
}
.t{
    top: 0.5cm;
}
ul {
    margin-block-start: 2cm;
    line-height: 1cm;
}