<div class="d0">
<div class="d1">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/y7TlnAv6cto"
  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<h1>What is Odoo ? </h1>
<p>
    <mat-icon>arrow_right</mat-icon>Odoo, formerly known as OpenERP is an open source ERP founded in 2004 <br>
    that offers a full suite of fully integrated business management modules.<br><br>
    <mat-icon>arrow_right</mat-icon>
    Odoo is the most scalable and installed business management program <br>
    in the world thanks to its applications that meet all the needs of a company <br>
     from customer relationship management to the creation of websites and<br>
      e- trade, through production, inventory management, accounting, human <br>
    resources etc., all perfectly integrated. This is the first time that a software
    <br> publisher has managed  to achieve such a level of functionality.<br>
    <a href="https://www.odoo.com/"> <mat-icon>arrow_right</mat-icon>Get started </a>
</p>
</div>



<div class="d2">
  <img src="assets/odoo.png">
<h1>Why choose odoo ?</h1>
<p><mat-icon>arrow_right</mat-icon>Odoo apps are perfectly integrated with each other, allowing you to fully <br>
  automate your business processes and reap the savings and benefits.<br>
  <mat-icon>arrow_right </mat-icon>With a modern and elegant technical design, Odoo's framework is unique.<br>
   It provides top-notch usability that scales across all apps.<br>
   
   <mat-icon>arrow_right</mat-icon>The open-source development model of Odoo has allowed odoo to   <br>
   leverage thousands of developers and business experts to build the world's   <br>largest ecosystem of fully integrated business apps.<br>
   <mat-icon>arrow_right</mat-icon>Finally, with regular annual releases, Odoo evolves much faster than any<br> other solution.
</p>
</div>
<div class="d4">
  <img src="assets/apps.png">
  <h1>An App For Every Need </h1>
  <a href="https://www.odoo.com/fr_FR/page/all-apps"><h2><mat-icon>arrow_right</mat-icon> Discover odoo apps </h2></a>
  <a href="https://www.odoo.com/fr_FR"><h2><mat-icon>arrow_right</mat-icon>Visit odoo.com</h2></a>
</div>

<div class="d3">
  <p class="p1">7 </p>
  <p class="p2">Million users around the world ! </p>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img  src="assets/1.png">
      </mat-panel-title>

    </mat-expansion-panel-header>
    
    <img src="assets/2.png">
    <img src="assets/4.png">
    <img src="assets/3.png">

  </mat-expansion-panel>
</mat-accordion>

</div>
</div>